h1{
    font-size: 3rem;
    margin: 50px 50px 10px 50px;
    font-family: 'Times New Roman', Times, serif;
}
#About1{
    margin-left: 50px;
    width: 155px;
    color: lavender;
}
.Section1 {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.left1{
    width: 900px;
    font-size: x-large;
    margin: 25px;
}
